<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @task.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Point:</strong>
  <%= @task.point %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
