<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @story.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Point:</strong>
  <%= @story.point %>
</p>

<p>
  <strong>Functional point:</strong>
  <%= @story.functional_point %>
</p>

<p>
  <strong>State:</strong>
  <%= @story.state %>
</p>

<p>
  <strong>Product:</strong>
  <%= @story.product %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
